<!DOCTYPE html>
<html lang="en">
<head>
    <title>Taxoboxalyzer</title>

    <link rel="icon" type="image/png" sizes="32x32" href="https://tools-static.wmflabs.org/toolforge/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="https://tools-static.wmflabs.org/toolforge/favicons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://tools-static.wmflabs.org/toolforge/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://tools-static.wmflabs.org/toolforge/favicons/favicon-16x16.png">
</head>
<body>
<h1>Taxobox Analysis on {{ title }}</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if edit_summary != '' %}
        {% if boxtext and boxtext != 'None' and not errors %}
    <p>Proposed taxobox content</p>
    <textarea readonly style="height:400px; width:550px">{{ boxtext }}</textarea>
        {% endif %}
    <form method="post" action="https://en.wikipedia.org/w/index.php?title={{title}}&action=submit">
      <textarea style="display:none;" name="wpTextbox1">{{newtext}}</textarea>
      <input type="hidden" name="wpAutoSummary" value="fakehash">
      <input type="hidden" name="wpSummary" value="{{ edit_summary }} {{ config['EDIT_SUMMARY']}}">
      <input type="hidden" name="wpStarttime" value="startTime">
      <input type="hidden" name="wpEdittime" value="editTime">
      <input type="hidden" name="wpDiff" value="Show changes">
      {# <input type="hidden" name="wpWatchthis"> #}
      <input type="hidden" name="wpUltimateParam" value="1">
      <input type="submit" value="View differences in editor"/>
    </form>
    <p>
    This tool is provided as assistance to editors. Read and heed the advice at <a  target="_blank" href="https://en.wikipedia.org/wiki/WP:ASSISTED">WP:ASSISTED</a>
    </p>
    {% else %}
      <form method="get" action="https://en.wikipedia.org/wiki/{{title}}">
      <input type="submit" value="Back to {{title}}"/>
    </form>
      {% endif %}
      {% endwith %}
      <a target="_blank" href="/">Notes</a>
</body>
</html>
