<!DOCTYPE html>
<html lang="en">
<head>
    <title>Taxoboxalyzer</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://tools-static.wmflabs.org/toolforge/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="https://tools-static.wmflabs.org/toolforge/favicons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://tools-static.wmflabs.org/toolforge/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://tools-static.wmflabs.org/toolforge/favicons/favicon-16x16.png">
</head>
<body>
<h1>Taxoboxalyzer - The Taxobox Analyzer</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <p>
    This tool is provided as assistance to editors. Read and heed the advice at <a  target="_blank" href="https://en.wikipedia.org/wiki/WP:ASSISTED">WP:ASSISTED</a>.
    </p>
    <p>
    The only operational functionality at present is replacement of a manual Taxobox with an automatic Speciesbox.
    </p>
    <p>
    Parameters that don't exist for automatic taxonboxes are removed without any check for whether they contain references. Any such references should nornally be found a home in the article text.
    </p>
    <p>
    Taxoboxalyzer is designed to be used with the <a target="_blank"  href="https://en.wikipedia.org/wiki/User:William_Avery/taxoboxalyzer">User:William_Avery/taxoboxalyzer.js</a> user script.
    </p>
    <p>
    To report problems and make suggestions regarding this tool, please use <a target="_blank" href="https://en.wikipedia.org/wiki/User_talk:William_Avery">en:User_talk:William_Avery</a>.
    </p>
</body>
</html>
